body {
    background-color: black;
    color: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow: hidden;
    display: flex;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before, *::after {
    box-sizing: inherit;
}

#app {
    flex: 1;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
    background: white;
}



.input-area:focus {
    outline: 0;
}


.grid {
    width: 100%;
    margin-left: 4%;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1px 1fr;
    grid-template-columns: 1fr 1px 1fr;
    height: 100vh;
}


.gutter-col {
    grid-row: 1/-1;
}

.gutter-col-1 {
    grid-column: 2;
}

.gutter-row {
    grid-column: 1/-1;
}

.gutter-row-1 {
    grid-row: 2;
}



.editor {
    position: relative;
    display: flex;
}



.editor img {
    position: absolute;
    z-index: 20;
    width: 50px;
    height: 50px;
    top: 80%;
    left: 88%;
}

.editor:hover {
    img {
        animation: opacityChange .5s;
        animation-fill-mode: forwards;
    }
}

.editor:not(hover) {
    img {
        animation: opacityChangeReverse .5s;
        animation-fill-mode: forwards;
    }
}

@keyframes opacityChange {
    from { opacity: 100%; }
    to { opacity: 40%; }
}

@keyframes opacityChangeReverse {
    from { opacity: 40%; }
    to { opacity: 100%; }
}

.menu-holder {
    display: flex;
    position: fixed;
    z-index: 1;
}

.menu {
    height: 100vh;
    width: auto;
    padding: 0;
    margin: 0;
    display: flex;

    color: white;
    flex-direction: column;
    gap: 63%;

    background-image: linear-gradient(to bottom, black, rgb(40, 40, 40));

    .btn-main {
        gap: 1vh;
        display: flex;
        flex-direction: column;
    }
}

.menu-button {
    display: flex;
    align-items: center;
    gap: 70%;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    width: auto;
    height: auto;
    border-radius: 50%;
    padding: 1vh;

    opacity: 70%;
}

.tooltiptext {
    display: none;
    background-color: grey;
    height: 3ch;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    transition: opacity .5s;

    font-family: 'Fira Code';
    font-size: 2ch;
}

.menu-button:hover .tooltiptext {
    display: inline-block;
    opacity: 1;
}

label {
        font-family: 'Fira Code';
        font-size: large;
        u {
            color: white;
            margin-top: .5ch;
        }
}

.menu-section {
    min-width: 15vw;
}


.menu button:hover {
    opacity: 100%;
}

.menu button img {
    height: 3vw;
    width: 3vw;
}


.noShow {
    display: none;
}

.menu-section {
    margin: 0;
    width: auto;
    background-image: linear-gradient(to bottom, black, rgb(40, 40, 40));
    color: white;
    p {
        font-family: 'Fira Code';
        font-size: 2ch;
        margin-top: .5ch;
        margin-bottom: 2ch;
    }
}

.console {
    min-width: 15vw;
}

.settings {
    max-width: 10vw;
}

.section-text {
    font-family: 'Fira Code', serif;
    color: white;
    font-weight: bold;
    white-space: nowrap;
    margin: 2px;
}

.error {
    display: flex;
    background-color: rgb(233, 120, 120);
    height: auto;
    width: auto;
    margin: .5ch;
    border: 3px solid red;
    border-radius: 3px;

    font-family: 'Fira Code';
    font-size: 1.5ch;
}

.active {
    opacity: 100%;
}

select {
    background-color: grey;
    color: white;
    font-family: 'Fira Code';
    font-size: 1.5ch;
    margin-top: 4%;
    border-radius: 5px;
    cursor: pointer;
    width: 12vw;
}

input {
    background-color: grey;
    color: white;
    font-family: 'Fira Code';
    font-size: 1.5ch;
    margin-top: 4%;
    border-radius: 5px;
    width: 12vw;
}

.docs {
    min-width: 18vw;
    max-width: 10vw;
    h2 {
        margin-bottom: 1vw;
    }
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        border: 2px solid grey;
        background-color: transparent;
        cursor: pointer;
        padding: 1vh;
        color: white;
        font-family: 'Cascadia Code';
        font-size: large;
        border-radius: 4px;
        width: 14vw;

        img {
            height: 3ch;
            width: 3ch;
        }

    }
    button:hover {
        animation: .5s btnHover;
        animation-fill-mode: forwards;
    }
    button:not(:hover) {
        animation: .5s notBtnHover;
        animation-fill-mode: forwards;
    }
}

.pack {
    input {
        width: 80%;
        font-size: 2ch;
    }
    .search-div {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 3ch;
            margin-top: 1vh;
        }
    }
    label {
        font-size: 1.5ch;
    }
    .pack-results {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}


@keyframes btnHover {
    from { background-color: transparent; }
    to { background-color: grey; }
}

@keyframes notBtnHover {
    from { background-color: grey; }
    to { background-color: transparent; }
}

.links {
    margin-top: 6vh;
    margin-bottom: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

#repo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
}